# Virtual Environment
.venv/
env/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Data
/data/
*.csv
*.parquet
*.xlsx

# Models
/models/
*.joblib
*.pkl
*.pickle

# Logs
logs/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Environment
.env
.env.*

# UV
uv.lock
.python-version

# OS
.DS_Store
Thumbs.db

/Fair-Loan-Default-Prediction/
/models/
uv.lock

catboost_info